<!DOCTYPE html>
<html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.6/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.0.3/vue-resource.js"></script>
    <head>
        <link href="css/app.css" rel="stylesheet" crossorigin="anonymous">
        <title>System Users</title>
    </head>
    <body>
        <div id="pager" class="generic-container">
            <b>System Users</b>
            <div class="section">
                <input id="filterUsers" class="filter" type="text" @keyup="searchItems(10,1)" v-model.trim="filter"/>
            </div>
            <div class="section fixed-height">
                <table >
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Enabled</th>
                    </tr>
                    <tr v-for="user in items">
                        <td>{{user.id}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.firstName}}</td>
                        <td>{{user.lastName}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.active}}</td>
                    </tr>
                </table>
            </div>
            <div class="section">
                <button id="prev" v-bind:disabled="!hasPrevious" value="Prev" @click="searchItems(10,previousPageNumber)">Prev</button>
                <span v-for="n in totalPages">
                    &nbsp;&nbsp;<span @click="searchItems(10,n)"><b>{{n}}</b></span>
                </span>
                <button id="next" v-bind:disabled="!hasNext" value="Next" @click="searchItems(10,nextPageNumber)">Next</button>
                <button style="float: right" id="new" value="New" @click="">New</button>
            </div>
        </div>
    </body>

    <script src="js/user.js"></script>
</html>

